:root {
    --main-bg-color: #D84282;
    --main-width: 60px;
    --main-height: 10px;
    --trans-time: 600ms;
}

#menu {
    width: var(--main-width);
    height: var(--main-height);
    background-color: var(--main-bg-color);
    position: relative;
    transition: var(--trans-time) ease-in-out;
    border-radius: 2px;
    box-shadow: 1px 1px 3px var(--main-bg-color);
}

#menu::before,
#menu::after {
    content: "";
    display: block;
    position: absolute;
    width: var(--main-width);
    height: var(--main-height);
    left: 0;
    background-color: var(--main-bg-color);
    transition: var(--trans-time) ease-in-out;
    border-radius: 2px;
    box-shadow: 1px 1px 3px var(--main-bg-color);
}

#menu::before {
    top: -20px;
}

#menu::after {
    top: 20px;
}

#whole-menu {
    width: 60px;
    padding: 20px 0;
}

#whole-menu:hover #menu {
    background-color: transparent;
    box-shadow: none;
}

#whole-menu:hover #menu::before {
    transform: rotate(45deg);
    top: 0;
}

#whole-menu:hover #menu::after {
    transform: rotate(-45deg);
    top: 0;
}
